@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.5em;
	}
}
.title{
	position: absolute;
	top: -25%;
	left: 10%;
	font-size: 2rem;
	text-align: center;
	color: rgb(49, 247, 171);
}
/* 导入外部字体 */
h1{
	/*font-size: 10vw;*/
	color: transparent;
}
.title h1 span{
	animation: effect 3s  linear infinite;
	animation-delay: calc(200ms*var(--i));
}
@keyframes effect {
	0%{
		color: white;
		filter: blur(2px) hue-rotate(0);
		text-shadow: 0 0 5px rgba(235, 151, 25, 0.918),
		0 0 10px rgb(251, 255, 0),
		0 0 45px rgb(0, 68, 255),
		0 0 73px rgb(0, 255, 76),
		0 0 96px rgb(0, 255, 200),
		0 0 128px rgb(0, 255, 136),
		0 0 172px rgb(192, 236, 69)
	}
	40%,80%{
		color: white;
		filter: blur(2px) hue-rotate(360deg);
		text-shadow: 0 0 10px rgb(103, 252, 17),
		0 0 10px rgb(0, 217, 255),
		0 0 30px rgba(255, 65, 245, 0.877),
		0 0 60px rgb(80, 250, 241),
		0 0 90px rgb(255, 158, 30)
	}
	100%{
		color: transparent;
		box-shadow: none;
		filter: blur(2px) hue-rotate(0);
	}
}