img{
    width: 100%;
    height: 80%;
    z-index: 0;
    top: 0;
    position: absolute;
}
.slideshow{
    width: 100%;
    height: 80%;
    top: 0;
    z-index: 2;
    position: absolute;
}
.img-item{
    width: 100%;
    height: 100%;
    z-index: 6;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}
.gotop{
    position: fixed;
    z-index: 1;
    display: none;
    width: 5pc;
    height: 5pc;
    top: 45vw;
    left:90rem;
}
/* .light{
    position: fixed;
    z-index: 1;
    display: none;
    width: 5pc;
    height: 5pc;
    top: 32vw;
    left:90rem;
}
.changeStyle{
    color: black;
    background-color: whitesmoke;
} */