*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: mediumslateblue;
    font-size: 30px;
}
.container{
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 10vh;
    width: 30%;
    height: 40pc;
    left: 35pc;
    text-align: center;
}
.message{
    margin: 50px 0;
    position: relative;
    z-index: 1;
    font-size: 20px;
    background-color: transparent;
    display: none;
}
.m-1{
    position: absolute;
    left: 50rem;
    top: 25vh;
    color: red;
}
.m-2{
    position: absolute;
    left: 50rem;
    top: 42vh;
    color: red;
}
.m-3{
    position: absolute;
    left: 52rem;
    top:35vh;
    color: mediumspringgreen;
}
.m-4{
    position: absolute;
    left: 50rem;
    top: 35vh;
    color: mediumturquoise;
}
.container::before{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(
        45deg,
        hsl(0,100%,50%),
        hsl(20,100%,50%),
        hsl(50,100%,50%),
        hsl(90,100%,50%),
        hsl(140,100%,50%),
        hsl(200,100%,50%),
        hsl(260,100%,50%),
        hsl(320,100%,50%)
    );
    filter: blur(20px);
    border-radius: 10px;
    z-index: -1;
}
input{
    display: block;
    width: 60%;
    height: 6vh;
    position: relative;
    left: 10rem;
    margin: 5pc 0;
    text-align: center;
    color: mediumvioletred;
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid mediumspringgreen;
    outline: none;
}
#t-1,#t-2{
    position: absolute;
}
#t-1{
    top: 160px;
    left: 3rem;
}
#t-2{
    top: 296px;
    left: 5rem;
}
img{
    position: absolute;
    width: 30px;
    top: 310px;
    left: 25rem;
}
.btn-box{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 4pc;
    position: relative;
    left: 7pc;
}
button{
    width: 100px;
    height: 8vh;
    background-color: transparent;
    color: mediumslateblue;
    font-size: 30px;
    border: none;
}
@media screen and (max-width:800px) {
    .container{
        position: relative;
        left: 5rem;
        height: 30pc;
        width: 28pc;
    }
    .m-1{
        position: absolute;
        left: 18rem;
        top: 28vh;
        color: red;
    }
    .m-2{
        position: absolute;
        left: 18rem;
        top: 45vh;
        color: red;
    }
    .m-3{
        position: absolute;
        left: 22rem;
        top:40vh;
        color: mediumspringgreen;
    }
    .m-4{
        position: absolute;
        left: 18rem;
        top: 40vh;
        color: mediumturquoise;
    }
    img{
        position: absolute;
        width: 30px;
        top: 300px;
        left: 25rem;
    }
}