.con4{
    position: absolute;
    left: 0;
}
.tips{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 30%;
    margin-left: 40%;
    border-radius: 10px 10px;
    height: 4vw;
    background: #ffd01e;
    z-index: 100;
    font-size: 1.5rem;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}